main{
  background-color: hsl(185, 75%, 39%);
  height: 100%;
display: flex;
justify-content: center;
align-items: center;
  width: 100%;
}
#cardimg{
  display: flex;
  flex-direction: column;
}
img{
  width: 100%;
  height: 30%;
}
#bottomimg{
  position: relative;
  left: 35%;
  
}
#topimg{
  position: relative;
  right: 800px;
  
}
@media screen and (max-width:600px) {
  #bottomimg{
    left: 0;
    bottom: 450px;
    width: 450px;
    height: 450px;
  }
  #cardimg{
   row-gap: 100px;
   width: 200px;
   height:10px;
  }
  
  #topimg{
    bottom: 600px;
    right: 0;
    right: 400px;
    width: 450px;
    height: 450px;
  }
}