#navbar{
display: flex;
align-items: center;
padding-left: 25px;
margin-left: 40px;
padding-top: 10px;
padding-right: 25px;
width: 92%;
padding-bottom: 20px;
border-bottom: 1px solid gray;
justify-content: space-between;

}
#mainpage{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
a{
    color: gray;
    text-decoration: none;

}
#sitetitle{
    font-size: 37px;
}
#cart{
    width: 35px;
    height: 35px;
}
#imgs{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
#profile{
    width: 60px;

}
nav{
    display: flex;
    width: 65%;
    column-gap: 20px;
    font-size: 25px;
    align-items: center;
    justify-content: start;
}