#personaldata{
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
}
#data{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    height: 70%;
    width: 100%;
    border-radius: 15px;
    background-color:hsl(246, 80%, 60%);
    box-sizing: border-box;
    padding: 30px;
}
label{
    color: rgba(255, 255, 255, 0.457);
}
#cardtime{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}
span{
    font-size: 40px;
    color: white;
}
#personalimg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white;
}
.times{
    box-sizing: border-box;
    padding-left: 30px;
    color: rgb(139, 139, 179);
    cursor: pointer;
}
.times:hover{
    color: white;
}
#weekly{
    color: white;
}
@media screen and (max-width:476px) {
    #personaldata{
        width: 100%;
        height: 220px;
        margin-top: 50px;
    }
    #data{
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        height: 150px
    }
    span{
        font-size: 30px;
    }
    #timedate{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #cardtime{
        flex-direction: row;
    }
}